* {
    margin: 0;
    padding: 0;
    transition: 1s;
    color: #ffffff;
}

body {
    max-width: 100%;
    height: 100vh;
    background-image: url('./images/main.jpg');
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.main-container,
.container-memsclider,
.text-and-buttons,
.text,
.buttons,
body,
label {
    display: flex;
}

.text,
.buttons,
.text-and-buttons,
label {
    align-items: center;
}

.main-container {
    width: 55%;
    height: 58%;    
    background: rgb(3, 1, 23);
    border-radius: 3%;
    padding: 1.3%;
    flex-direction: column;
    row-gap: 3.7%;
    border: 0.11rem solid rgb(45, 105, 113);
}

.memslider {
    overflow: hidden;
}

.container-memsclider {
    width: 700%;
    height: 31rem;
}

.memslide {
    width: 100%;
    height: 100%;
    background-repeat: round;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.first {
    background-image: url('./images/1.jpg');
}

.second {
    background-image: url('./images/2.png');
}

.third {
    background-image: url('./images/3.png');
}

.fouth {
    background-image: url('./images/4.jpg');
}

.fifth{
    background-image: url('./images/5.jpg');
}

.sixth{
    background-image: url('./images/6.jpg');
}

.seventh{
    background-image: url('./images/7.png');
}

.inputs {
    display: none;
}

.text-and-buttons {
    justify-content: space-between;
}

label{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    justify-content: center;
}

.pointers {
    height: 37%;
    width: 37%;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    background: rgb(189, 236, 226);
    border: 0.133rem solid rgb(189, 236, 226);
}

.text-container {
    width: 50%;
    overflow: hidden;
}

.text,
.text-for-mems {
    width: 700%;
    font-size: 1.133rem;
}


#radio1:checked ~ .memslider .container-memsclider,
#radio1:checked ~ .text-and-buttons .text-container .text {
   margin-left: 0;
}
#radio2:checked ~ .memslider .container-memsclider,
#radio2:checked ~ .text-and-buttons .text-container .text {
   margin-left: -100%;
}
#radio3:checked ~ .memslider .container-memsclider,
#radio3:checked ~ .text-and-buttons .text-container .text {
   margin-left: -200%;
}
#radio4:checked ~ .memslider .container-memsclider,
#radio4:checked ~ .text-and-buttons .text-container .text  {
   margin-left: -300%;
}
#radio5:checked ~ .memslider .container-memsclider,
#radio5:checked ~ .text-and-buttons .text-container .text  {
   margin-left: -400%;
}
#radio6:checked ~ .memslider .container-memsclider,
#radio6:checked ~ .text-and-buttons .text-container .text  {
   margin-left: -500%;
}
#radio7:checked ~ .memslider .container-memsclider,
#radio7:checked ~ .text-and-buttons .text-container .text  {
   margin-left: -600%;
}

#radio1:checked ~ .text-and-buttons .buttons label:nth-child(1) .pointers,
#radio2:checked ~ .text-and-buttons .buttons label:nth-child(2) .pointers,
#radio3:checked ~ .text-and-buttons .buttons label:nth-child(3) .pointers,
#radio4:checked ~ .text-and-buttons .buttons label:nth-child(4) .pointers,
#radio5:checked ~ .text-and-buttons .buttons label:nth-child(5) .pointers,
#radio6:checked ~ .text-and-buttons .buttons label:nth-child(6) .pointers,
#radio7:checked ~ .text-and-buttons .buttons label:nth-child(7) .pointers{
  background: transparent;
}

label:hover .pointers{
    background-color: #ffffff;
    border: 0.133rem solid #ffffff;
}